{% extends 'base.html.twig' %}

{% block title %}Liste des attributs{% endblock %}

{% block body %}
    <h1>Liste des attributs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de l'attribut</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attribute in attributes %}
            <tr>
                <td>{{ attribute.name }}</td>
                <td>{{ attribute.price }}</td>
                <td>
                    <a href="{{ path('attributes_show', {'id': attribute.id}) }}" class="btn btn-primary"><i class="fa fa-eye text-light"></i></a>
                    <a href="{{ path('attributes_edit', {'id': attribute.id}) }}" class="btn btn-warning"><i class="fa fa-edit text-light"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('attributes_new') }}" class="btn btn-success"><i class="fa fa-plus"></i></a>
{% endblock %}
