{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Nom du produit</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('products_show', {'id': product.id}) }}" class="btn btn-primary"><i class="fa fa-eye text-light"></i></a>
                    <a href="{{ path('products_edit', {'id': product.id}) }}" class="btn btn-warning"><i class="fa fa-edit text-light"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('products_new') }}" class="btn btn-success"><i class="fa fa-plus"></i></a>
{% endblock %}
