

{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        {{ form_label(form.numDevis) }}
        {{ form_widget(form.numDevis) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.modeReglement) }}
        {{ form_widget(form.modeReglement) }}
    </div>
</div>


{% include '/devis/productsform.html.twig' %}

    <button class="btn btn-success mt-3">{{ button_label|default('Enregistrer') }}</button>
<a class="btn btn-warning mt-3" href="{{ path('devis_index') }}"><i class="text-light fa fa-arrow-left"></i></a>
{{ form_end(form) }}
