{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    <h1>Devis</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Numéro de devis</th>
            <td>{{ devi.numDevis }}</td>
        </tr>
            <tr>
                <th>Mode de règlement</th>
                <td>{{ devi.modeReglement }}</td>
            </tr>

            <tr>
                <th>Date de création</th>
                <td>{{ devi.dateCrea ? devi.dateCrea|date('Y-m-d H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Date de validité</th>
                <td>{{ devi.dateValid ? devi.dateValid|date('Y-m-d H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <h1>Produits</h1>
<table class="table table-responsive">
    <tr>
        <th>Nom du produit</th>
        <th>Dimensions</th>
        <th>Qté</th>
        <th>Heures de frais de pose</th>
        <th>Heures de frais de maquette</th>
        <th>attributs</th>
        <th>Prix HT</th>
        <th>Prix TTC</th>
    </tr>
    {% set TotalPriceTTC = 0 %}
    {% set TotalPriceHT = 0 %}
    {% for pdts in devi.productForms %}
        {% set HT = 0 %}
        {% set TTC = 0 %}
        <tr>
            <td>{{ pdts.name }}</td>
            <td>{{ pdts.width }} x {{ pdts.height }} (cm)</td>
            <td>{{ pdts.qte }}</td>
            <td>
                {{ pdts.heureFraisPose }}
                {% set HT = HT+ (pdts.heureFraisPose*45) %}
            </td>
            <td>

                {% set HT = HT+ (pdts.heureFraisMaquette*90) %}
                {{ pdts.heureFraisMaquette }}
            </td>
            <td>
                {% for attr in pdts.attributes %}
                    <span>{{ attr.name }}</span>
                {% endfor %}
            </td>
            <td>

                {% for attr in pdts.attributes %}
                    {% set HT = HT + (attr.price * ((pdts.width*pdts.height)/10000)) %}
                {% endfor %}
                {% set HT = HT + (pdts.name.price * ((pdts.width*pdts.height)/10000)) %}
                {% set HT = HT* pdts.qte %}
                {{ HT|round(2) }} €
            </td>
            <td>
                {% set TTC = HT * 1.085 %}
                {{ TTC|round(2) }} €
            </td>
        </tr>
        {% set TotalPriceHT = TotalPriceHT + HT %}
        {% set TotalPriceTTC = TotalPriceTTC + TTC %}
    {% endfor %}
</table>
    <div class="d-flex justify-content-between">
        <div>
            <p>Prix Total HT</p>
            <p>{{ TotalPriceHT|round(2) }} €</p>
        </div>
        <div>
            <p>Prix Total TTC</p>
            <p>{{ TotalPriceTTC|round(2) }} €</p>
        </div>
    </div>
    <h1>Commentaires</h1>
    {% for com in devi.commentaires %}
        <div class="card">
            <div class="card-header">
                {{ com.date }}
            </div>
            <div class="card-body">
                {{ com.text }}
            </div>
        </div>

        {% else %}
        <p>Aucun commentaire</p>
    {% endfor %}
    <h3>Ajouter un commentaire</h3>
    <form action="">
        <div class="form-group">
            <textarea name="" id="" class="com form-control" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <input type="button" value="Envoyer" class="submitPost btn btn-success">
        </div>
    </form>
<div class="d-flex justify-content-center align-items-end">
    <a href="{{ path('devis_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i></a>

    <a href="{{ path('devis_edit', {'id': devi.id}) }}" class="btn btn-warning text-light ml-1"><i class="fa fa-edit"></i></a>
    {{ include('devis/_delete_form.html.twig') }}
</div>



{% endblock %}

{% block javascripts %}
    <script>
        $('.submitPost').click(function () {
            let com = $('.com').val();
            $.post('PostCom',{com:com}, function (success) {
                console.log(success)
            })
        })
    </script>
{% endblock %}
