{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Catégories enfants</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{% for children in category.children %}{{ children.name }}{% if loop.index %}{% if loop.last %}{% else %},{% endif %}{% endif %}{% endfor %}</td>
                <td>
                    <div class="d-flex"><a href="{{ path('categories_show', {'id': category.id}) }}" class="btn btn-primary"><i class="fa fa-eye text-light"></i></a>
                        <a href="{{ path('categories_edit', {'id': category.id}) }}" class="btn btn-warning ml-1"><i class="fa fa-edit text-light"></i></a></div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categories_new') }}" class="btn btn-success mt-3"><i class="fa fa-plus"></i></a>
{% endblock %}
