{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <h1>Catégorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de la catégorie</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Catégories enfants</th>
                <td>{% for cat in category.children %} {{ cat.name }} {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex">
        <a href="{{ path('categories_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i></a>

        <a href="{{ path('categories_edit', {'id': category.id}) }}" class="btn btn-warning ml-1"><i class="fa fa-edit text-light"></i></a>

        {{ include('categories/_delete_form.html.twig') }}
    </div>
{% endblock %}
