{% extends 'base.html.twig' %}

{% block title %}Blo index{% endblock %}

{% block body %}
    <h1>Blo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blo in blos %}
            <tr>
                <td>{{ blo.id }}</td>
                <td>{{ blo.name }}</td>
                <td>
                    <a href="{{ path('blo_show', {'id': blo.id}) }}">show</a>
                    <a href="{{ path('blo_edit', {'id': blo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blo_new') }}">Create new</a>
{% endblock %}
