{% extends 'base.html.twig' %}

{% block title %}Blo{% endblock %}

{% block body %}
    <h1>Blo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blo.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ blo.name }}</td>
            </tr>
            <tr>
                <th>Blas</th>
                <td>{% for bla in blo.blas %}
                        {{ bla.name }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('blo_index') }}">back to list</a>

    <a href="{{ path('blo_edit', {'id': blo.id}) }}">edit</a>

    {{ include('blo/_delete_form.html.twig') }}
{% endblock %}
