{% extends 'base.html.twig' %}

{% block title %}Bla{% endblock %}

{% block body %}
    <h1>Bla</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bla.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ bla.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bla_index') }}">back to list</a>

    <a href="{{ path('bla_edit', {'id': bla.id}) }}">edit</a>

    {{ include('bla/_delete_form.html.twig') }}
{% endblock %}
